.bg-green-half {
  background-color: rgba(0, 0, 255, 0.5);
}

.bg-blue-half {
  background-color: rgba(0, 255, 0, 0.5);
}

.bg-red-half {
  background-color: rgba(255, 0, 0, 0.5);
}

.bg-white-half {
  background-color: rgba(255,255,255, 0.5);
}

.bg-black-half {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-green {
  background-color: rgb(0, 0, 255);
}

.bg-blue {
  background-color: rgb(0, 255, 0);
}

.bg-red {
  background-color: rgb(255, 0, 0);
}

.bg-white {
  background-color: rgb(255,255,255);
}

.bg-black {
  background-color: rgb(0, 0, 0);
}
