.background-green-half {
  background-color: rgba(0, 0, 255, 0.5);
}

.background-blue-half {
  background-color: rgba(0, 255, 0, 0.5);
}

.background-red-half {
  background-color: rgba(255, 0, 0, 0.5);
}

.background-white-half {
  background-color: rgba(255,255,255, 0.5);
}

.background-black-half {
  background-color: rgba(0, 0, 0, 0.5);
}

.background-green {
  background-color: rgb(0, 0, 255);
}

.background-blue {
  background-color: rgb(0, 255, 0);
}

.background-red {
  background-color: rgb(255, 0, 0);
}

.background-white {
  background-color: rgb(255,255,255);
}

.background-black {
  background-color: rgb(0, 0, 0);
}
